:root {
  --darkBlue: #85CBCC;
  --lightBlue: #A8DEE0;
  --paleOrange: #F9E2AE;
  --brightOrange: #FBC78D;
  --brightGreen: #A7D676;
}

.container {
  width:  100%;
  height: 100vh;
  background-color: var(--brightGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 610px;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}

.model {
  height: 350px;
  max-width: 100%;
  max-height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.details p {
  text-align: center;
  margin: 20px;
}

.activists {
  color: black;
  letter-spacing: 2px;
  margin-top: 20px;
}