
#polluted-countries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 115vh;
    transition: 0.25s;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.pollution-header {
    margin-bottom: 1rem;  
    font-size: 1.875rem;
    line-height: 2.25rem; 
    text-align: center; 
    width: 100%; 
}

.pollution-header-text {
    margin-bottom: 3rem; 
    color: #374151; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 300; 
    text-align: center; 
    width: 100%; 
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 640px) { 
    .pollution-header {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}

@media (min-width: 768px) { 
    .pollution-header {
        text-align: center; 
    }

    .pollution-header-text {
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }

    .hidden-br {
        display: block;
    }
}
@media (min-width: 1024px) { 
    .pollution-header {
        font-size: 3rem;
        line-height: 1;
    }

    .pollution-header-text {
        font-size: 1.5rem;
        line-height: 2rem; 
    }
}

@media (min-width: 1650px) { 
    #polluted-countries {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#polluted-countries .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  #polluted-countries .options {
    min-width: 520px;
  }
}
@media screen and (max-width: 638px) {
  #polluted-countries .options {
    min-width: 440px;
  }
}
@media screen and (max-width: 558px) {
  #polluted-countries .options {
    min-width: 360px;
  }
}
@media screen and (max-width: 478px) {
  #polluted-countries .options {
    min-width: 280px;
  }
}
#polluted-countries .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}
#polluted-countries .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
#polluted-countries .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
#polluted-countries .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
#polluted-countries .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
#polluted-countries .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
#polluted-countries .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
#polluted-countries .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
#polluted-countries .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
#polluted-countries .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
#polluted-countries .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
#polluted-countries .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
#polluted-countries .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
#polluted-countries .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
#polluted-countries .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

#polluted-countries .options .option .label .icon img{
    width: 128px;
    height: 100%;
}

#polluted-countries .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

#polluted-countries .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
#polluted-countries .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
#polluted-countries .options .option .label .info .sub {
  transition-delay: 0.1s;
}