
#polluted-countries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 115vh;
    transition: 0.25s;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.pollution-header {
    margin-bottom: 1rem;  
    font-size: 1.875rem;
    line-height: 2.25rem; 
    text-align: center; 
    width: 100%; 
}

.pollution-header-text {
    margin-bottom: 3rem; 
    color: #374151; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 300; 
    text-align: center; 
    width: 100%; 
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 640px) { 
    .pollution-header {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}

@media (min-width: 768px) { 
    .pollution-header {
        text-align: center; 
    }

    .pollution-header-text {
        font-size: 1.25rem;
        line-height: 1.75rem; 
    }

    .hidden-br {
        display: block;
    }
}
@media (min-width: 1024px) { 
    .pollution-header {
        font-size: 3rem;
        line-height: 1;
    }

    .pollution-header-text {
        font-size: 1.5rem;
        line-height: 2rem; 
    }
}

@media (min-width: 1650px) { 
    #polluted-countries {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#polluted-countries .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  #polluted-countries .options {
    min-width: 520px;
  }
}
@media screen and (max-width: 638px) {
  #polluted-countries .options {
    min-width: 440px;
  }
}
@media screen and (max-width: 558px) {
  #polluted-countries .options {
    min-width: 360px;
  }
}
@media screen and (max-width: 478px) {
  #polluted-countries .options {
    min-width: 280px;
  }
}
#polluted-countries .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option:nth-child(1) {
  background: url(../assets/health/china-pollution.jpg);
}
#polluted-countries .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}
#polluted-countries .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}
#polluted-countries .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}
#polluted-countries .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}
#polluted-countries .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}
#polluted-countries .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
#polluted-countries .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
#polluted-countries .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
#polluted-countries .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
#polluted-countries .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
#polluted-countries .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
#polluted-countries .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
#polluted-countries .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
#polluted-countries .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
#polluted-countries .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

#polluted-countries .options .option .label .icon img{
    width: 128px;
    height: 100%;
}

#polluted-countries .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

#polluted-countries .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
#polluted-countries .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
#polluted-countries .options .option .label .info .sub {
  transition-delay: 0.1s;
}

/* gallery click to open bigger */
.health-article-image {
  display: grid;
  min-height: 800px;
  margin-top: 40px;
}
.image-item {
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* make sure image aspect ratio matches this div */
  border-radius: 8px;
  transition: 250ms;
}
.image-item:hover {
  opacity: 0.9;
  cursor: pointer;
}

.image-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #22222288;
  transition: 500ms;
}

.image-mask img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 500ms;
}

.mask-off {
  visibility: hidden;
  background-color: #22222200;
}

.mask-off img {
  visibility: hidden;
  opacity: 0;
}

/* infographic at the bottom */
#health-impact {
  padding-top: 5rem;
  padding-bottom: 5rem; 
}

.health-impact-container {
  width: 100%; 
  padding-left: 1rem;
  padding-right: 1rem; 
  padding-left: 2.5rem;
  padding-right: 2.5rem; 
  align-items: center; 
  max-width: 72rem; 
  margin-left: auto;
  margin-right: auto;
}

.health-impact-wrapper {
  margin-left: -0.75rem;
  margin-right: -0.75rem; 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
}

.health-impact-wrapper-image {
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  order: 1; 
  width: 100%; 
}

.health-impact-left {
  width: 100%;
}

.health-impact-left h2 {
  margin-bottom: 1rem; 
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  letter-spacing: -0.025em; 
  line-height: 1.25; 
}

.health-impact-item {
  display: flex; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  margin-left: 1rem; 
  display: flex; 
  align-items: center; 
}

.health-impact-item img {
  width: 2rem; 
  height: 2rem; 
  max-width: 100%;
}

.health-impact-left p {
  margin-bottom: 1rem; 
  letter-spacing: -0.025em; 
}

.health-impact-image {
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  margin-bottom: 3rem; 
  width: 100%; 
}

.health-impact-image img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media (min-width: 640px) { 
  .health-impact-container {
    padding-left: 5rem;
    padding-right: 5rem; 
  }


  .health-impact-image img {
    max-width: 24rem;
  }
}

@media (min-width: 768px) { 
  .health-impact-container {
    padding-left: 8rem;
    padding-right: 8rem; 
  }
}

@media (min-width: 1024px) { 
  .health-impact-container {
    padding-left: 4rem;
    padding-right: 4rem; 
  }

  .health-impact-wrapper-image {
    width: 50%;
  }

  .health-impact-left {
    max-width: 28rem;
  }

  .health-impact-image {
    margin-bottom: 0; 
    order: 1; 
    width: 50%; 
  }

  .health-impact-image img {
    max-width: 100%;
  }
}

@media (min-width: 1280px) { 
  .health-impact-left p {
    margin-bottom: 1.5rem;
  } 

  .health-impact-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

