:root {
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.section-padding {
    padding: 4rem 12rem;
}



#hero {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}

#hero-container {
    display: flex;
}

#hero-container-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

#hero-container-text h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

#hero-container-text p {
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

/* insert a fancy  button */


#hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main-image {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1386px) {
    .section-padding {
        padding: 4rem 9rem;
    }

}


@media only screen and (max-width: 1200px) {
    .section-padding {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 1050px) {
    #hero-container {
        flex-direction: column;
    }

    #hero-container-text {
        margin: 0 0 3rem;
        text-align: center;
    }

    .section-padding {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 650px) {
    #hero-container h1 {
        font-size: 48px;
        line-height: 60px;
    }

    #hero-container p {
        font-size: 16px;
        line-height: 24px;
    }

}


@media screen and (max-width: 490px) {
    #hero-container h1 {
        font-size: 36px;
        line-height: 48px;
    }

    #hero-container p {
        font-size: 14px;
        line-height: 24px;
    }

}

#test-div {
    width: 12em; 
    position: absolute; 
    bottom: 4em;
    left: -2em;
    z-index: 10; 
}






/* Areas of Impact Categories */
#category-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

#category-heading-container p {
    max-width: 60ch;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

#category-heading {
    position: relative;
    font-size: 8vw;
    white-space: nowrap;
}

#category-heading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: url(../treebg.jpg);
    background-repeat: repeat;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid #034225;
    overflow: hidden;
    animation: category-heading-animation 12s linear infinite;
}

@keyframes category-heading-animation {
    0%, 10%, 100% {
        width: 0;
    }
    
    70%, 90% {
        width: 100%;
    }
}

#categories {
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    margin-top: 2.5rem; 
    max-width: 80rem; 
}

.category-block {
    display: flex; 
    overflow: hidden; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100%; 
    border-radius: 0.75rem;
}

.category-block-margin {
    margin-top: 2.5rem;
}

.category-text-left{
    display: flex; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-right: 4rem; 
    padding-left: 4rem; 
    margin-bottom: 2.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
}

.category-text-left h2 {
    display: inline-block; 
    padding-bottom: 0.5rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1.25; 
}

.category-text-left h3 {
    color: #EEF2FF; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1; 
}

.category-block p {
    margin-top: 2rem;
    margin-bottom: 2rem; 
    color: #ffffff; 
    text-align: center; 
    max-width: 24rem; 
    opacity: 0.75; 
}

.category-block a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    color: #ffffff; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 500; 
    border-radius: 9999px; 
    border-width: 2px; 
    border-color: #ffffff; 
}

.category-image-right {
    display: flex; 
    overflow: hidden; 
    padding-left: 1.5rem; 
    justify-content: flex-end; 
    width: 100%; 
}

.category-image-left {
    display: flex; 
    overflow: hidden; 
    padding-right: 1.5rem;  
    justify-content: flex-start; 
    width: 100%; 
}

.category-image-right img,
.category-image-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.category-text-right {
    display: flex; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-right: 3rem; 
    padding-left: 4rem; 
    margin-bottom: 2.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
}

.category-text-right h2 {
    display: inline-block; 
    padding-bottom: 0.5rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1.25; 
}

.category-text-right h3 {
    color: #EEF2FF; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1; 
}

@media (min-width: 640px) { 
    .category-text-left h2 {
        font-size: 3.75rem;
        line-height: 1; 
    }

    .category-text-left h3 {
        font-size: 3.75rem;
        line-height: 1;  
    }
}

@media (min-width: 768px) { 
    #category-heading {
        font-size: 5.75vw;
    }

    #categories {
        padding-left: 6.5rem;
        padding-right: 6.5rem; 
    }

    .category-block { 
        flex-direction: row; 
    }
    
    .category-text-left {
        padding-left: 2.5rem; 
        margin-bottom: 0; 
        align-items: flex-start; 
        width: 50%; 
    }

    .category-text-left h2 {
        margin-left: 0;
        margin-right: 0; 
    }

    .category-block p {
        text-align: left; 
        max-width: none; 
    }

    .category-image-right {
        padding-left: 0; 
        width: 50%; 
    }

    .category-image-left {
        padding-right: 0; 
        width: 50%; 
    }

    .category-text-right {
        padding-left: 4rem; 
        margin-bottom: 0; 
        align-items: flex-start; 
        width: 50%; 
    }

    .category-text-right h2 {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 1024px) { 

    .category-text-left {
        padding-right: 2.5rem; 
        padding-left: 4rem;
    }

    .category-text-left h2 {
        margin-left: 0;
        margin-right: 0; 
    }

    .category-text-left h3 {
        font-size: 4.5rem;
        line-height: 1; 
    }

    .category-block p {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }

    .category-text-right {
        padding-left: 2.5rem; 
        padding-right: 3rem; 
    }

    .category-text-right h3 {
        font-size: 4.5rem;
        line-height: 1; 
    }
}

@media (min-width: 2000px) { 
    #category-heading {
        font-size: 4vw;
    }
}

/* Our Mission Section */

:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
  --bg-gradient: linear-gradient(
      to bottom,
      hsl(var(--hue), 95%, 99%),
      hsl(var(--hue), 95%, 84%)
  );
}

#our-mission {
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: var(--dark-color);
  background: var(--bg-gradient);

}

.orb-canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 92.5%;
  max-width: 1140px;
  max-height: 640px;
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  text-align: center;
}

.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    hsl(198deg 95% 50%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}


#our-mission a {
  text-decoration: none;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }
}























/* did you know section */


#did-you-know {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 130vh; 
    margin-top: 2.5rem;
}

.dyk-heading-container {
    max-width: 72rem; 
    margin-left: auto;
    margin-right: auto;
}

.dyk-heading {
    display: flex; 
    padding-right: 2rem; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    max-width: 42rem; 
    height: 100%; 
}

.upper-subtitle {
    margin-bottom: 1.25rem; 
    color: #6366F1; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    letter-spacing: -0.025em; 
    text-transform: uppercase; 
}

.dyk-title {
    color: #111827; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 800; 
    letter-spacing: -0.025em; 
    line-height: 2.5rem; 
}

.bottom-subtitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; 
    color: #6B7280; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 500; 
}

@media (min-width: 640px) { 
    .upper-subtitle {
        font-size: 1rem;
        line-height: 1.5rem; 
    }

    .dyk-title {
        line-height: 1; 
    }
 }

 @media (min-width: 768px) { 
     .dyk-title {
        font-size: 3.75rem;
        line-height: 1; 
     }
   }

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;   
    overflow: hidden;
    position: relative;
}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item-info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item-image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item-subtitle {
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item-title {
    margin: 15px 0 0 0;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item-description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item-image{
  background-image: url('../treebg.jpg');
}


.carousel-item--2 .carousel-item-image{
    background-image: url('../treebg.jpg');
}

.carousel-item--3 .carousel-item-image{
    background-image: url('../treebg.jpg');
}

.carousel-item--4 .carousel-item-image{
    background-image: url('../treebg.jpg');
}

.carousel-item--5 .carousel-item-image{
    background-image: url('../treebg.jpg');
}


.carousel-item-btn {
    width: 35%;
    color: #2C2C2C;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #5d5d5d;
}

.carousel-arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel-arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item-subtitle, .active .carousel-item-title, .active .carousel-item-description,.active .carousel-item-btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item-image { 
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}

/* benefits of climate change */

#benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

    -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	user-select: none;
}

.benefits-container {
    margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1000px;
	min-height: 100vh;
}

@counter-style symbols {
	system: cyclic;
	symbols: "\01F30E";
	suffix: "  ";
}

.benefits-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: #111;
	padding: 20px;
	border-radius: 50px;
	outline: 1px solid white;
}

.benefits-title {
	position: relative;
	font-size: 20pt;
	margin: 0;
	line-height: 34pt;
	color: #eee;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
}

.benefits-title::after {
    position: absolute;
	bottom: 0;
	right: 100%;
	width: 800%;
	height: 4px;
	background: linear-gradient(
		90deg,
		Red,
		Orange,
		Yellow,
		LawnGreen,
		Blue,
		Violet
	);
	background-position: center;
	content: "";
	animation: title 5s ease-in-out infinite;
}

@keyframes title {
	0% {
		right: 100%;
	}
	100% {
		right: -800%;
	}
}

.benefits-list {
    position: relative;
    width: 100%;
	max-height: 230px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-x: scroll;
	overflow-y: hidden;
    padding-inline-start: 40px;
	padding-bottom: 15px;
}

.benefits-list li {
    position: relative;
	color: #ccc;
	padding: 10px 50px 10px 12px;
	list-style-type: symbols;
	font-size: 12pt;
	line-height: 24pt;
	font-weight: 500;
	margin: 0px 60px 0px 0px;
	text-shadow: 1px 1px 0px black, 2px 2px 0px black;
	transition: all 0.1s linear;
}

.benefits-list li::after {
    position: absolute;
	bottom: 5px;
	right: 10%;
	width: 100%;
	height: 2px;
	background: #111;
	content: "";
	transition: all 0.2s ease-in-out;
}

.benefits-list li:hover {
    background: #ccc;
	color: black;
	cursor: pointer;
	text-shadow: none;
	transition: all 0.1s linear;
}

.benefits-list li:hover::after {
    right: -20%;
	transition: all 0.2s ease-in-out;
}

.benefits-list li::marker {
    animation: idle 8s linear infinite;
}

@keyframes idle {
	0% {
		transform: rotateY(0deg) translateX(0px) scale(1);
		filter: saturate(100%) brightness(1);
	}
	50% {
		transform: rotateY(180deg) translateX(10px) scale(1.4);
		filter: saturate(300%) brightness(2);
	}
	100% {
		transform: rotateY(360deg) translateX(0px) scale(1);
		filter: saturate(100%) brightness(1);
	}
}


@media (max-width: 1090px) {
	.benefits-container {
		max-width: 920px;
	}
}

@media (max-width: 990px) {
	.benefits-container {
		max-width: 820px;
	}
}

@media (max-width: 890px) {
	.benefits-container {
		max-width: 720px;
	}
}

@media (max-width: 790px) {
	.benefits-container {
		max-width: 620px;
	}
}

@media (max-width: 690px) {
	.benefits-container {
		max-width: 520px;
	}
	.benefits-list li {
		padding: 10px 20px 10px 12px;
		margin: 0px 40px 0px 0px;
	}
}

@media (max-width: 590px) {
	.benefits-container {
		max-width: 420px;
	}
}

@media (max-width: 490px) {
	.benefits-container {
		max-width: 320px;
	}
	.benefits-list li {
		padding: 10px 10px 10px 10px;
	}
}

@media (max-width: 390px) {
	.benefits-container {
		max-width: 280px;
	}
}

/* scrollbar for the benefits section */
#benefits ::-webkit-scrollbar {
	height: 8px;
}

#benefits ::-webkit-scrollbar-track {
	background: #444;
	border-radius: 30px;
}

#benefits ::-webkit-scrollbar-thumb {
	background: #ccc;
	width: 70px;
	border-radius: 30px;
}

#benefits ::-webkit-scrollbar-thumb:hover {
	background: white;
}


/* scroll video animation */
#scrolling-vid-1 {
    height: 100vh;
}
  
#scrolling-vid-1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#scrolling-vid-1 h1 {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 80px;
}

#scrolling-vid-2 {
    height: 100vh;
}
  
#scrolling-vid-2 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#scrolling-vid-2 h1 {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 80px;
}