:root {
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

.gradient-text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.section-padding {
    padding: 4rem 12rem;
}



#hero {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}

#hero-container {
    display: flex;
}

#hero-container-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

#hero-container-text h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

#hero-container-text p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

/* insert a fancy  button */


#hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main-image {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1386px) {
    .section-padding {
        padding: 4rem 9rem;
    }

}


@media only screen and (max-width: 1200px) {
    .section-padding {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 1050px) {
    #hero-container {
        flex-direction: column;
    }

    #hero-container-text {
        margin: 0 0 3rem;
        text-align: center;
    }

    .section-padding {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 650px) {
    #hero-container h1 {
        font-size: 48px;
        line-height: 60px;
    }

    #hero-container p {
        font-size: 16px;
        line-height: 24px;
    }

}


@media screen and (max-width: 490px) {
    #hero-container h1 {
        font-size: 36px;
        line-height: 48px;
    }

    #hero-container p {
        font-size: 14px;
        line-height: 24px;
    }

}

#test-div {
    width: 12em; 
    position: absolute; 
    bottom: 4em;
    left: -2em;
    z-index: 10; 
}






/* Areas of Impact Categories */
#category-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

#category-heading-container p {
    max-width: 60ch;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

#category-heading {
    position: relative;
    font-size: 8vw;
    white-space: nowrap;
}

#category-heading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: url(../tree-bg.jpg);
    background-repeat: repeat;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 2px solid #034225;
    overflow: hidden;
    animation: category-heading-animation 12s linear infinite;
}

@keyframes category-heading-animation {
    0%, 10%, 100% {
        width: 0;
    }
    
    70%, 90% {
        width: 100%;
    }
}

#categories {
    padding-left: 0;
    padding-right: 0; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    margin-top: 2.5rem; 
    max-width: 80rem; 
}

.category-block {
    display: flex; 
    overflow: hidden; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100%; 
}

.category-block-margin {
    margin-top: 2.5rem;
}

.category-text-left{
    display: flex; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-right: 4rem; 
    padding-left: 4rem; 
    margin-bottom: 2.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%;
}

.category-text-left h2 {
    display: inline-block; 
    padding-bottom: 0.5rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1.25; 
}

.category-text-left h3 {
    color: #EEF2FF; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1; 
}

.category-block p {
    margin-top: 2rem;
    margin-bottom: 2rem; 
    color: #ffffff; 
    text-align: center; 
    max-width: 24rem; 
    opacity: 0.75; 
}

.category-block a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    color: #ffffff; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 500; 
    border-radius: 9999px; 
    border-width: 2px; 
    border-color: #ffffff; 
}

.category-image-right {
    display: flex; 
    overflow: hidden; 
    padding-left: 1.5rem; 
    justify-content: flex-end; 
    width: 100%; 
}

.category-image-left {
    display: flex; 
    overflow: hidden; 
    padding-right: 1.5rem;  
    justify-content: flex-start; 
    width: 100%; 
}

.category-image-right img,
.category-image-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.category-text-right {
    display: flex; 
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-right: 3rem; 
    padding-left: 4rem; 
    margin-bottom: 2.5rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
}

.category-text-right h2 {
    display: inline-block; 
    padding-bottom: 0.5rem; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1.25; 
}

.category-text-right h3 {
    color: #EEF2FF; 
    font-size: 3rem;
    line-height: 1; 
    font-weight: 700; 
    line-height: 1; 
}

@media (min-width: 640px) { 
    .category-text-left h2 {
        font-size: 3.75rem;
        line-height: 1; 
    }

    .category-text-left h3 {
        font-size: 3.75rem;
        line-height: 1;  
    }
}

@media (min-width: 768px) { 
    #category-heading {
        font-size: 5.75vw;
    }

    #categories {
        padding-left: 2.5rem;
        padding-right: 2.5rem; 
    }

    .category-block { 
        flex-direction: row; 
        border-radius: 0.75rem; 
    }
    
    .category-text-left {
        padding-left: 2.5rem; 
        margin-bottom: 0; 
        align-items: flex-start; 
        width: 50%; 
    }

    .category-text-left h2 {
        margin-left: 0;
        margin-right: 0; 
    }

    .category-block p {
        text-align: left; 
        max-width: none; 
    }

    .category-image-right {
        padding-left: 0; 
        width: 50%; 
    }

    .category-image-left {
        padding-right: 0; 
        width: 50%; 
    }

    .category-text-right {
        padding-left: 4rem; 
        margin-bottom: 0; 
        align-items: flex-start; 
        width: 50%; 
    }

    .category-text-right h2 {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 1024px) { 

    .category-text-left {
        padding-right: 2.5rem; 
        padding-left: 4rem;
    }

    .category-text-left h2 {
        margin-left: 0;
        margin-right: 0; 
    }

    .category-text-left h3 {
        font-size: 4.5rem;
        line-height: 1; 
    }

    .category-block p {
        font-size: 1.125rem;
        line-height: 1.75rem; 
    }

    .category-text-right {
        padding-left: 2.5rem; 
        padding-right: 3rem; 
    }

    .category-text-right h3 {
        font-size: 4.5rem;
        line-height: 1; 
    }
}

@media (min-width: 2000px) { 
    #category-heading {
        font-size: 4vw;
    }
}