#hero {
    line-height: 2rem;
    padding-bottom: 0;
    background-color: var(--darkBlue);
}

.sources {
    justify-content: center;
    align-items: center;
}

#article-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    color: #222;
    background-color: var(--darkBlue);
}

a {
    text-decoration: underline;
    color: #333;
}