:root {
	--bright: #ffcc3f;
	--green: #344E41;
	--blue: #38A3A5;

	/*new colors*/
	--darkBlue: #85CBCC;
	--lightBlue: #A8DEE0;
	--paleOrange: #F9E2AE;
	--brightOrange: #FBC78D;
	--brightGreen: #A7D676;
}

body {
	overflow-x: hidden;
}

#bike-background {
	width: 100vw;
	height: 100vh;
	background-image: url("../treebg.jpg");
	background-size: contain;
	background-repeat: repeat-x;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0% {
    background-position: 2048px 100%;
  }
  100% {
    background-position: 0px 100%;
  }
}

#tag {
	color: #333;
	font-weight: 700;
	font-size: 5rem;
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
}

@media screen and (max-width: 800px) { /* breakpoint of when the image starts to not correspond with aspect ratio */
	#bike-background {
		background-size: cover;
	}

	#tag {
		font-size: 4rem;
		margin-top: 4em;
		margin-bottom: 0;
	}

	.split {
		flex-direction: column;
	}

	.bg-bright {
		padding: 3rem;
	}
}

.bg-bright {
	background-color: var(--brightOrange);
	color: black;
	padding: 4rem;
}

img {
	display: block;
	max-width: 100%;
}

.split {
	display: flex;
	flex-direction: row;
}

.split > * {
	flex-basis: 100%;
} /*applies to every child in the split class*/


.split > * + * {
	margin-left: 2em;
} /*applies to element with a previous element*/

.text {
	line-height: 2rem;
	text-align: center;
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url('../greenOrange-wave.svg');
}


/*FOOTER SECTION*/
.footer {
	background-color: var(--brightGreen);
	padding: 4rem;
}

.container {
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

ul {
	list-style: none;
}

.footer-col {
	width: 33%;
	padding: 1em;
}

h4 {
	font-size: 2.5rem;
	margin-bottom: 1.8rem;
	position: relative;
}

ul li:not(:last-child) {
	margin-bottom: .75em;
}

ul li a {
	font-size: 1em;
	font-weight: 300;
	display: block;
}

ul li a:hover {
	color: #333;
	padding-left: .5em;
}

@media screen and (max-width: 800px) {
	h4 {
		font-size: 1.5rem;
	}
	ul li a {
		font-size: .8em;
	}
	.footer-col{
		width: 50%;
	}
}

/*after header*/
.text-center {
	text-align: center;
	display: block;
	align-items: center;
	justify-content: center;
}

.keyword {
	text-decoration: underline;
}

/*modal that i might use??*/
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:  1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

