.testing {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url("../bgtest.jpg");
	background-size: contain;
  	animation: slide 60s linear infinite;
}

@keyframes slide{
  0% {
    background-position: 2000px 100%;
  }
  100% {
    background-position: 0px 100%;
  }
}